:root {
  --bg: rgba(255, 255, 255, .5);
  --floating-btn-offset: 1rem;
  --floating-btn-side: 3rem;
  /* --sidebar-btn-side: 3.8rem; */
}

.container-fluid {
  padding: 0;
}

#map {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.floating-btn {
  position: fixed;
  top: var(--floating-btn-offset);
  width: var(--floating-btn-side);
  height: var(--floating-btn-side);
  background: var(--bg);
}

#info {
  left: var(--floating-btn-offset);
}

#done {
  right: var(--floating-btn-offset);
}

#sidebar {
  width: 5.5rem;
  position: fixed;
  top: 50%;
  right: 0;
  padding: .5rem;
  transform: translateY(-50%);
  background: var(--bg);
  border-radius: .3rem 0 0 .3rem;
}

#sidebar button {
  display: block;
  margin: auto;
  /* height: var(--sidebar-btn-side);
  width: var(--sidebar-btn-side); */
}

#controls {
  height: 8.5rem;
  width: 100vw;
  padding: .5rem;
  position: fixed;
  background: var(--bg);
  bottom: 0;
}

.flex-container {
  display: flex;
  padding: .5rem
}

.slider {
  flex-grow: 1;
  padding-left: .5rem;
}

input {
  width: 100%;
}

.modal {
  top: 5rem;
}

.hi {
  box-shadow: 0 0 5rem 1rem fuchsia;
  background: fuchsia;
}
