:root {
  --bg: rgba(255, 255, 255, .5);
  --hi: yellow;
  --floating-btn-offset: 1rem;
  --floating-btn-side: 3.5rem;
  /* --sidebar-btn-side: 3.8rem; */
}

.container-fluid {
  padding: 0;
}

#map {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.overlay {
  background: var(--bg);
  padding: 2rem;
  border-radius: .3rem;
}

.floating-btn {
  position: fixed;
  top: var(--floating-btn-offset);
  width: var(--floating-btn-side);
  height: var(--floating-btn-side);
  background: var(--bg);
}

#info {
  left: var(--floating-btn-offset);
}

#done {
  right: var(--floating-btn-offset);
}

#sidebar {
  width: 5.5rem;
  position: fixed;
  top: 50%;
  right: 0;
  padding: .5rem;
  transform: translateY(-50%);
  background: var(--bg);
  border-radius: .3rem 0 0 .3rem;
}

#sidebar button {
  display: block;
  margin: auto;
  /* height: var(--sidebar-btn-side);
  width: var(--sidebar-btn-side); */
}

#controls {
  display: grid;
  grid-template-columns: 3rem auto 5rem;
  /* grid-row-gap: .5rem; */
  height: 8rem;
  width: 100vw;
  bottom: 0;
  padding: 1rem;
  /* padding-bottom: 1.5rem; */
  position: fixed;
  background: var(--bg);
}

.slider {
  margin-right: .5rem;
}

.noUi-target {
  background: transparent;
}

.noUi-connect {
  background: rgba(87, 87, 87, .5);
}

.noUi-connects {
  /* background: rgba(152, 152, 152, .5); */
  background: rgba(255, 255, 255, .3);
}

input {
  width: 100%;
}

.modal {
  top: 5rem;
}

.hi {
  box-shadow: 0 0 5rem 1rem var(--hi);
  background: var(--hi);
}
